<%# filepath: /home/baloz/uV/side-projects/Collab/go3/spec/components/previews/ui/input_component_preview/sizes.html.erb %>
<div class="p-4 space-y-6">
  <h2 class="text-xl font-bold">Input Sizes</h2>
  <div class="space-y-4 max-w-md">
    <div>
      <%= render(Forms::InputComponent.new(size: :sm, name: "small_input", placeholder: "Small input")) do |component| %>
        <% component.with_label { "Small Input" } %>
      <% end %>
    </div>
    <div>
      <%= render(Forms::InputComponent.new(size: :md, name: "medium_input", placeholder: "Medium input (default)")) do |component| %>
        <% component.with_label { "Medium Input" } %>
      <% end %>
    </div>
    <div>
      <%= render(Forms::InputComponent.new(size: :lg, name: "large_input", placeholder: "Large input")) do |component| %>
        <% component.with_label { "Large Input" } %>
      <% end %>
    </div>
  </div>
</div>
